.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 80px;
  filter: brightness(0) invert(1);
}

.App-header {
  background-color: #00568e;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

body {
  height: 100vh;
}

#root {
  height: 100%;
}

main {
  height: 100%;
}
